<!DOCTYPE html>
<html>
  <head>
    <title>Packer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Plan your next adventure with the Packer Tracker!</h1>
    <a href="/packer/new">Add a new trip</a>
    <a href="/packer">View all trips</a>
  </body>
</html>